* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background: linear-gradient(135deg, #153677, #4e085F);
    min-height: 100vh;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #c0a2c9;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 10px;

}

.todo-app h2 {

    color: #002765;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.todo-app img {
    width: 60px;
    margin-left: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

.listcontainer {

    max-height: 250px;
    overflow: auto;
    scrollbar-color: #7f159a #ffffff;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 14px;
    color: #ffffff;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #6a0dad;
    border-radius: 40px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #4d0073;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
    font-size: 28px;
}

@media screen and (max-width: 600px) {
    .todo-app {
        padding: 30px 20px 60px;
    }

    .todo-app h2 {
        font-size: 30px;
    }

    .todo-app img {
        width: 30px;
        margin-left: 20px;
    }

    .row {
        padding-left: 15px;
        margin-bottom: 20px;
        flex-wrap: wrap;
      
    }

    input {
        padding: 12px;
        font-size: 16px;
        
    }

    button {
        padding: 14px 40px;
        font-size: 14px;
       
    }

    ul li {
        font-size: 16px;
        padding: 10px 6px 10px 40px;
    }

    ul li::before {
        height: 25px;
        width: 25px;
        top: 10px;
        left: 6px;
    }

    ul li span {
        width: 36px;
        height: 36px;
        font-size: 18px;
        line-height: 36px;
    }
}